@use 'colors';
$button-length:4.5rem;
$text-color:white;
.button-icon{
    margin-right: 0.3rem;
}
.buttons{
    padding: 0.5rem;
}
.transparent-button{
    margin-left: 0.5rem;
    background-color: transparent;
    color: white;
    border-color: white;
    border-style: solid;
    
    padding-top: 0.3rem ;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    text-decoration: none;
}
.transparent-button:hover{
    background-color: white;
    color: black;
}
.youtube-button{
    display: flex;
    padding-top: 0.4rem;
    padding-right: 0.4rem;
    margin-left: 1rem;
    color: $text-color;
    width: $button-length;
    background-color: colors.$youtube-red;
    border: none;
}
.youtube-button:hover{
    background-color: colors.$youtube-red-lighter;
}
.spotify-button{
    margin-left: 1rem;
     color: $text-color;
     width: $button-length;
     background-color: colors.$spoitify-green;
     border: none;
     border-radius: 1rem;
}
.spotify-button:hover{
    background-color: colors.$spoitify-green-lighter;
}

.download-music{
    background-color: transparent;
    border-color: white;
    color: white;
    text-decoration: none;
    border-style: solid;
    padding: 0.5rem;
}

.download-music:hover{
    border-color:rgb(235, 128, 29); 
    color: rgb(235, 128, 29);
}
@media screen and (max-width: 900px) {
    .youtube-button{
       display: none;
    }
  }