 
    
html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: black;
   
    background-image: './assets/background.jpg';
    //background-image: url('../assets/background.mp4');
    overflow-y: hidden;
    min-height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#background-video{
  //  position: fixed; /* optional depending on what you want to do in your app */
 //   object-fit: cover;
  //  top: 50%;
 //   left: 50%;
 //   height: 100vh;
//    min-width: 100%;
 //   z-index: -100;
 //   transition: "opacity, 2s ease-in-out";
//    -webkit-transform: translateX(-50%) translateY(-50%);
//    transform: translateX(-50%) translateY(-50%);
//    -webkit-background-size: cover;
//    -moz-background-size: cover;
 //   -o-background-size: cover;
//     background-size: cover;
    position:fixed;
  //  object-fit: cover;
   // transform: translate(-50%,-50%);
    top:20;
    min-width: 100vw;
    min-height: 100vh;
    transition: "opacity, 2s ease-in-out";
    
   // max-width: 120vw;
   // width: auto;
   // height: auto;
   // z-index: -1000;
}
#background-video>video{
    display: block;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.content{
    position: fixed;
    width: 100vw;
}
.center{
    justify-content: center;
}
.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.space-between{
    justify-content: space-between;
}

@media (min-aspect-ratio: 16/9) {
    #background-video {
        width:100%;
      
    }
}
@media (max-aspect-ratio: 16/9) {
    #background-video { 
      
       height: 100%;
    }
}