
header{
padding-top: 15px;
}
.container{
    display: grid;
    grid-template-columns: 5rem auto 3rem;
    grid-template-rows: 700px;
}

.grid{
    display: grid;
}

.two-rols{
    grid-template-rows: 8rem 30rem;

}

.main{
    grid-template-columns:18rem;
   // grid-column-gap: 10px;
  //  scroll-behavior: auto;
}

.auto-cols{
    grid-template-columns: auto 10px auto;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer{
    font-family: sans-serif;
    font-weight: 700;
    
    text-shadow: 2px 2px black;
    margin-top: 2rem;
    padding-top:1rem;
    padding-left: 5rem;
  //  max-width: fit-content;
    padding-right: 5rem;
}
@media screen and (max-width: 750px) {
    .container{
        grid-template-rows: 550px;
    }
  }

@media screen and (max-width: 900px) {
    .container{
        grid-template-rows: 550px;
        grid-template-columns: 3rem auto 3.1rem;

    }
  }
  .responsive-iframe {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
   
  }
  .responsive-iframe iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}