.container{
    display: grid;
    grid-template-columns: 4rem auto 4rem;
}

.grid{
    display: grid;
}

.two-rols{
    grid-template-rows: 8rem 30rem;
}

.main{
    grid-template-columns: 400px;
  //  scroll-behavior: auto;
}