.side-bar{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    height: 100vh; 
    z-index: 1;
    ul{
        display:flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        list-style: none;
        margin: 0;
  	    padding: 0;
  	    width: 25%;
          height: 100vh; 
          margin-right: 2rem;
    }
    .nav-link{
        display: block;
        font-family: '62dragzregular';
        font-size: 1rem;
        //font-size: rem;
        padding: 8px 16px;
        color: white;
        background-color: transparent;
        text-decoration: none;
        border: none;
        font-weight: 500;
        text-transform: uppercase;
      //  transform: rotate(90deg);
    }
    .nav-link:hover{
        color: rgb(235, 128, 29);
    }
}
.side-way-link{
    transform: rotate(-90deg);
}
@media screen and (max-width: 750px) {
    .side-bar{
      
        height: 90vh; 
       
    }
    .nav-link{
        
        padding: 8px 10px;
      
      //  transform: rotate(90deg);
    }
}