.title{
    background-color: transparent;
    color: white;
   // margin-top: 2rem;
    letter-spacing: 2px;
    font-size: 3rem;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.title:hover{
    color: rgb(235, 128, 29);
}
.copyright-line{
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

.text-center{
    text-align: center;
}

.bio{
    padding-top: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 1px;
    background-color: rgba(0, 0, 0, 0.801);
}